@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #FFF;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.ttf');
}
.iconfont {
  font-family: 'iconfont';
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lock:before {
  content: '\e600';
}
.icon-wrong:before {
  content: '\e603';
}
.icon-success:before {
  content: '\e604';
}
.icon-info:before {
  content: '\e601';
}
.icon-search:before {
  content: '\e602';
}
.icon-left:before {
  content: '\e606';
}
.icon-right:before {
  content: '\e605';
}
.icon-up:before {
  content: '\e607';
}
.solid-button-green-large {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #00BC8D;
  background-color: #00BC8D;
  color: #FFF;
  font-size: 18px;
  height: 40px;
  width: 170px;
}
.solid-button-green-large:hover {
  background-color: #4DD0AF;
  border: 1px solid #4DD0AF;
}
.solid-button-green-large:active {
  background-color: #009670;
  border: 1px solid #009670;
}
.solid-button-green-large.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.solid-button-green-middle {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #00BC8D;
  background-color: #00BC8D;
  color: #FFF;
  font-size: 16px;
  height: 44px;
  width: 145px;
}
.solid-button-green-middle:hover {
  background-color: #4DD0AF;
  border: 1px solid #4DD0AF;
}
.solid-button-green-middle:active {
  background-color: #009670;
  border: 1px solid #009670;
}
.solid-button-green-middle.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.solid-button-green-small {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #00BC8D;
  background-color: #00BC8D;
  color: #FFF;
  font-size: 14px;
  height: 30px;
  width: 125px;
}
.solid-button-green-small:hover {
  background-color: #4DD0AF;
  border: 1px solid #4DD0AF;
}
.solid-button-green-small:active {
  background-color: #009670;
  border: 1px solid #009670;
}
.solid-button-green-small.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.solid-button-orange-large {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #FF722C;
  background-color: #FF722C;
  color: #FFF;
  font-size: 18px;
  height: 40px;
  width: 170px;
}
.solid-button-orange-large:hover {
  background-color: #FF8E38;
  border: 1px solid #FF8E38;
}
.solid-button-orange-large:active {
  background-color: #CC5B23;
  border: 1px solid #CC5B23;
}
.solid-button-orange-large.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.solid-button-orange-middle {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #FF722C;
  background-color: #FF722C;
  color: #FFF;
  font-size: 16px;
  height: 44px;
  width: 145px;
}
.solid-button-orange-middle:hover {
  background-color: #FF8E38;
  border: 1px solid #FF8E38;
}
.solid-button-orange-middle:active {
  background-color: #CC5B23;
  border: 1px solid #CC5B23;
}
.solid-button-orange-middle.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.solid-button-orange-small {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #FF722C;
  background-color: #FF722C;
  color: #FFF;
  font-size: 14px;
  height: 30px;
  width: 125px;
}
.solid-button-orange-small:hover {
  background-color: #FF8E38;
  border: 1px solid #FF8E38;
}
.solid-button-orange-small:active {
  background-color: #CC5B23;
  border: 1px solid #CC5B23;
}
.solid-button-orange-small.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.line-button-green-large {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #00BC8D;
  background-color: #FFF;
  color: #00BC8D;
  font-size: 18px;
  height: 40px;
  width: 170px;
}
.line-button-green-large:hover {
  border: 1px solid #4DD0AF;
  color: #4DD0AF;
}
.line-button-green-large:active {
  border: 1px solid #00BC8D;
  color: #00BC8D;
}
.line-button-green-large.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.line-button-green-middle {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #00BC8D;
  background-color: #FFF;
  color: #00BC8D;
  font-size: 16px;
  height: 44px;
  width: 145px;
}
.line-button-green-middle:hover {
  border: 1px solid #4DD0AF;
  color: #4DD0AF;
}
.line-button-green-middle:active {
  border: 1px solid #00BC8D;
  color: #00BC8D;
}
.line-button-green-middle.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.line-button-green-small {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #00BC8D;
  background-color: #FFF;
  color: #00BC8D;
  font-size: 14px;
  height: 30px;
  width: 125px;
}
.line-button-green-small:hover {
  border: 1px solid #4DD0AF;
  color: #4DD0AF;
}
.line-button-green-small:active {
  border: 1px solid #00BC8D;
  color: #00BC8D;
}
.line-button-green-small.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.line-button-orange-large {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #FF722C;
  background-color: #FFF;
  color: #FF722C;
  font-size: 18px;
  height: 40px;
  width: 170px;
}
.line-button-orange-large:hover {
  border: 1px solid #FF8E38;
  color: #FF8E38;
}
.line-button-orange-large:active {
  border: 1px solid #CC5B23;
  color: #CC5B23;
}
.line-button-orange-large.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.line-button-orange-middle {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #FF722C;
  background-color: #FFF;
  color: #FF722C;
  font-size: 16px;
  height: 44px;
  width: 145px;
}
.line-button-orange-middle:hover {
  border: 1px solid #FF8E38;
  color: #FF8E38;
}
.line-button-orange-middle:active {
  border: 1px solid #CC5B23;
  color: #CC5B23;
}
.line-button-orange-middle.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.line-button-orange-small {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #FF722C;
  background-color: #FFF;
  color: #FF722C;
  font-size: 14px;
  height: 30px;
  width: 125px;
}
.line-button-orange-small:hover {
  border: 1px solid #FF8E38;
  color: #FF8E38;
}
.line-button-orange-small:active {
  border: 1px solid #CC5B23;
  color: #CC5B23;
}
.line-button-orange-small.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.line-button-grey-large {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #666;
  background-color: #FFF;
  color: #666;
  font-size: 18px;
  height: 40px;
  width: 170px;
}
.line-button-grey-large:hover {
  border: 1px solid #999;
  color: #999;
}
.line-button-grey-large:active {
  border: 1px solid #333;
  color: #333;
}
.line-button-grey-large.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.line-button-grey-middle {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #666;
  background-color: #FFF;
  color: #666;
  font-size: 16px;
  height: 44px;
  width: 145px;
}
.line-button-grey-middle:hover {
  border: 1px solid #999;
  color: #999;
}
.line-button-grey-middle:active {
  border: 1px solid #333;
  color: #333;
}
.line-button-grey-middle.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.line-button-grey-small {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: lighter;
  outline: 0;
  border: 1px solid #666;
  background-color: #FFF;
  color: #666;
  font-size: 14px;
  height: 30px;
  width: 125px;
}
.line-button-grey-small:hover {
  border: 1px solid #999;
  color: #999;
}
.line-button-grey-small:active {
  border: 1px solid #333;
  color: #333;
}
.line-button-grey-small.disable {
  border: 1px solid #E4E4E4;
  background-color: #E4E4E4;
  color: #FFF;
}
.nav-default {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav-default > li {
  display: block;
}
.nav-default > li > a:hover,
.nav-default > li > a:focus {
  text-decoration: none;
}
.nav-bar {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav-bar > li {
  display: block;
}
.nav-bar > li > a:hover,
.nav-bar > li > a:focus {
  text-decoration: none;
}
.nav-bar:before,
.nav-bar:after {
  content: " ";
  display: table;
}
.nav-bar:after {
  clear: both;
}
.nav-bar > li {
  border-bottom: 1px solid #E4E4E4;
  border-left: 1px solid #E4E4E4;
  border-top: 1px solid #E4E4E4;
  float: left;
  height: 48px;
  width: 112px;
}
.nav-bar > li:last-child {
  border-right: 1px solid #E4E4E4;
}
.nav-bar > li.active > a {
  background-color: #E4E4E4;
}
.nav-bar > li > a {
  color: #333;
  display: block;
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
.nav-bar > li > a:hover {
  background-color: #E4E4E4;
}
.nav-tab-line {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav-tab-line > li {
  display: block;
}
.nav-tab-line > li > a:hover,
.nav-tab-line > li > a:focus {
  text-decoration: none;
}
.nav-tab-line:before,
.nav-tab-line:after {
  content: " ";
  display: table;
}
.nav-tab-line:after {
  clear: both;
}
.nav-tab-line > li {
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  float: left;
  height: 56px;
  line-height: 50px;
  text-align: center;
  width: 112px;
}
.nav-tab-line > li:first-child {
  border-left: 1px solid #E4E4E4;
}
.nav-tab-line > li:last-child {
  border-right: 1px solid #E4E4E4;
}
.nav-tab-line > li:hover a {
  border-bottom: 2px solid #00BC8D;
  color: #00BC8D;
}
.nav-tab-line > li.active > a {
  border-bottom: 2px solid #00BC8D;
  color: #00BC8D;
}
.nav-tab-line > li > a {
  color: #333;
  font-size: 16px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 6px;
}
.nav-tab {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav-tab > li {
  display: block;
}
.nav-tab > li > a:hover,
.nav-tab > li > a:focus {
  text-decoration: none;
}
.nav-tab:before,
.nav-tab:after {
  content: " ";
  display: table;
}
.nav-tab:after {
  clear: both;
}
.nav-tab > li {
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  float: left;
  height: 56px;
  line-height: 56px;
  text-align: center;
  width: 112px;
}
.nav-tab > li:first-child {
  border-left: 1px solid #E4E4E4;
}
.nav-tab > li:last-child {
  border-right: 1px solid #E4E4E4;
}
.nav-tab > li.active > a {
  color: #00BC8D;
}
.nav-tab > li > a {
  color: #CCC;
  display: block;
  font-size: 16px;
}
.nav-tab > li > a:hover {
  color: #00BC8D;
}
.nav-menu-line {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav-menu-line > li {
  display: block;
}
.nav-menu-line > li > a:hover,
.nav-menu-line > li > a:focus {
  text-decoration: none;
}
.nav-menu-line:before,
.nav-menu-line:after {
  content: " ";
  display: table;
}
.nav-menu-line:after {
  clear: both;
}
.nav-menu-line > li {
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  height: 56px;
  line-height: 56px;
  text-align: center;
  width: 200px;
}
.nav-menu-line > li:first-child {
  border-top: 1px solid #E4E4E4;
}
.nav-menu-line > li:hover {
  border-left: 3px solid #00BC8D;
  border-right: 0;
}
.nav-menu-line > li:hover > a {
  color: #00BC8D;
}
.nav-menu-line > li.active {
  border-left: 3px solid #00BC8D;
  border-right: 0;
}
.nav-menu-line > li.active > a {
  color: #00BC8D;
}
.nav-menu-line > li > a {
  color: #666;
  display: block;
  font-size: 16px;
}
.panel {
  width: 680px;
}
.panel .panel-header {
  border: 1px solid #E4E4E4;
  color: #333;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  padding-left: 22px;
}
.panel .panel-body {
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  min-height: 80px;
}
.panel-tab {
  width: 680px;
}
.panel-tab .panel-header {
  border: 1px solid #E4E4E4;
  color: #333;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  padding-left: 22px;
}
.panel-tab .panel-body {
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  min-height: 80px;
}
.panel-tab .panel-header {
  padding-left: 0;
}
.panel-tab .header-tab-line {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.panel-tab .header-tab-line > li {
  display: block;
}
.panel-tab .header-tab-line > li > a:hover,
.panel-tab .header-tab-line > li > a:focus {
  text-decoration: none;
}
.panel-tab .header-tab-line:before,
.panel-tab .header-tab-line:after {
  content: " ";
  display: table;
}
.panel-tab .header-tab-line:after {
  clear: both;
}
.panel-tab .header-tab-line > li {
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 112px;
}
.panel-tab .header-tab-line > li:hover a {
  border-bottom: 3px solid #00BC8D;
  color: #00BC8D;
}
.panel-tab .header-tab-line > li.active > a {
  border-bottom: 3px solid #00BC8D;
  color: #00BC8D;
}
.panel-tab .header-tab-line > li > a {
  color: #333;
  font-size: 16px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 17px;
}
.panel-list {
  width: 680px;
}
.panel-list .panel-header {
  border: 1px solid #E4E4E4;
  color: #333;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  padding-left: 22px;
}
.panel-list .panel-body {
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  min-height: 80px;
}
.panel-list .panel-header {
  font-size: 16px;
}
.panel-list .panel-header > span:nth-child(1) {
  color: #00BC8D;
}
.input-normal {
  border: 1px solid #CCC;
  border-radius: 4px;
  color: #CCC;
  font-size: 14px;
  font-weight: lighter;
  height: 44px;
  outline: 0;
  padding-left: 12px;
}
.input-normal:focus {
  border: 1px solid #00BC8D;
  color: #00BC8D;
}
.input-normal:disabled {
  background-color: #F0F0F0;
  color: #999;
}
.input-normal.error {
  border: 1px solid #D70C18;
  color: #D70C18;
}
.input-normal.disable-lock {
  background-color: #F0F0F0;
  color: #999;
  padding-right: 12px;
  position: relative;
}
.input-normal.disable-lock:after {
  content: '\e609';
  color: #999;
  font-family: 'iconfont';
  display: inline-block;
  position: absolute;
}
.input-lock {
  position: relative;
}
.input-lock.input-normal {
  padding-right: 12px;
}
.input-lock:after {
  content: '\e600';
  color: #999;
  font-family: 'iconfont';
  font-size: 20px;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: -5px;
}
.check-box {
  display: inline-block;
}
.check-box > input[type=checkbox] {
  display: none;
}
.check-box > input[type=checkbox]:checked + label {
  border: 1px solid #00BC8D;
  background-color: #00BC8D;
}
.check-box > input[type=checkbox]:disabled + label {
  background-color: #CCC;
}
.check-box > label {
  width: 14px;
  height: 14px;
  border: 1px solid #CCC;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.check-box > label:before {
  content: '\e604';
  color: #FFF;
  display: inline-block;
  font-family: 'iconfont';
  font-size: 12px;
  left: 0;
  position: absolute;
  top: -3px;
}
.check-circle {
  display: inline-block;
}
.check-circle > input[type=checkbox] {
  display: none;
}
.check-circle > input[type=checkbox]:checked + label {
  border-color: #00BC8D;
}
.check-circle > input[type=checkbox]:checked + label:before {
  display: inline-block;
}
.check-circle > input[type=checkbox]:disabled + label:before {
  background-color: #CCC;
  display: inline-block;
}
.check-circle > label {
  width: 14px;
  height: 14px;
  border: 1px solid #CCC;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.check-circle > label:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  content: '';
  background-color: #00BC8D;
  display: none;
  left: 50%;
  margin-left: -3px;
  margin-top: -3px;
  position: absolute;
  top: 50%;
}
.popover-input {
  background-color: #E3F8F3;
  border-radius: 4px;
  color: #333;
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  position: relative;
  width: 170px;
  min-height: 50px;
}
.popover-input:before {
  border-top: 10px solid transparent;
  border-right: 14px solid #E3F8F3;
  border-bottom: 10px solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  position: absolute;
  width: 0;
  left: -14px;
  top: 50%;
  margin-top: -13px;
}
.popover-input .message {
  color: #333;
  display: block;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
}
.popover-input .message > i {
  font-size: 16px;
  padding-right: 6px;
}
.popover-input .message > .icon-wrong {
  color: #D70C18;
}
.popover-input .message > .icon-success {
  color: #00BC8D;
}
.popover-info {
  color: #E4E4E4;
  font-size: 18px;
  position: relative;
}
.popover-info > .info-message {
  width: 250px;
  height: 120px;
  border: 1px solid #E4E4E4;
  background-color: #FAFAFA;
  display: none;
  left: 30px;
  margin-top: -60px;
  padding: 10px;
  position: absolute;
  top: 50%;
}
.popover-info > .info-message:before {
  width: 12px;
  height: 12px;
  border-bottom: 1px solid #E4E4E4;
  border-left: 1px solid #E4E4E4;
  background-color: #FAFAFA;
  content: '';
  display: inline-block;
  position: absolute;
  left: -6px;
  top: 50%;
  margin-top: -6px;
  transform: rotate(45deg);
}
.popover-info .info-table {
  width: 100%;
  text-align: center;
}
.popover-info .info-table thead {
  background-color: #F0F0F0;
}
.popover-info .info-table th,
.popover-info .info-table td {
  padding-bottom: 10px;
  padding-top: 10px;
}
.popover-info .info-table th {
  color: #999;
  font-size: 14px;
}
.popover-info .info-table td {
  color: #333;
  font-size: 12px;
}
.popover-info:hover {
  color: #00BC8D;
}
.popover-info:hover > .info-message {
  display: inline-block;
}
.popover-prompts {
  background-color: #FFFDC2;
  color: #8A6D3B;
  display: inline-block;
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
.popover-prompts .close {
  width: 14px;
  height: 14px;
  border: 0;
  background-color: #FFFDC2;
  color: #8A6D3B;
  cursor: pointer;
  float: right;
  font-size: 20px;
  outline: 0;
  right: 0;
}
.popover-prompts .config {
  color: #8A6D3B;
  cursor: pointer;
  font-size: 14px;
}
.search-bar:before,
.search-bar:after {
  content: " ";
  display: table;
}
.search-bar:after {
  clear: both;
}
.search-bar .search {
  border: 1px solid #E4E4E4;
  color: #CCC;
  font-size: 14px;
  float: left;
  height: 40px;
  outline: 0;
  padding: 0;
  padding-left: 16px;
}
.search-bar .search:focus {
  border: 1px solid #00BC8D;
}
.search-bar .search.searched {
  color: #333;
}
.search-bar .search:focus + .bar {
  border: 1px solid #00BC8D;
  border-left: 0;
  color: #00BC8D;
}
.search-bar .bar {
  width: 40px;
  height: 40px;
  border: 1px solid #E4E4E4;
  border-left: 0;
  color: #CCC;
  display: inline-block;
  font-family: 'iconfont';
  font-size: 18px;
  float: left;
  line-height: 40px;
  text-align: center;
}
.toggle-button {
  display: inline-block;
}
.toggle-button > input[type=checkbox] {
  display: none;
}
.toggle-button > input[type=checkbox]:checked + label {
  background-color: #00BC8D;
}
.toggle-button > input[type=checkbox]:checked + label:before {
  left: 37px;
}
.toggle-button > input[type=checkbox]:disabled + label {
  background-color: #E4E4E4;
}
.toggle-button > label {
  width: 80px;
  height: 35px;
  border: 0;
  background-color: #E4E4E4;
  border-radius: 17px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.toggle-button > label:before {
  width: 40px;
  height: 30px;
  content: '';
  background-color: #FFF;
  border-radius: 15px;
  display: inline-block;
  left: 3px;
  position: absolute;
  top: 50%;
  transition: left .5s;
  margin-top: -15px;
}
.toggle-button-up-down {
  color: #CCC;
  font-size: 14px;
  position: relative;
}
.toggle-button-up-down:before {
  width: 8px;
  height: 8px;
  content: '';
  border-left: 2px solid #CCC;
  border-bottom: 2px solid #CCC;
  display: inline-block;
  margin-top: -6px;
  position: absolute;
  right: -16px;
  top: 50%;
  transform: rotate(-45deg);
}
.toggle-button-up-down.up:before {
  margin-top: -3px;
  transform: rotate(135deg);
}
.toggle-panel {
  border: 1px solid #F0F0F0;
  width: 700px;
}
.toggle-panel .panel-header {
  background-color: #FAFAFA;
  font-size: 16px;
  color: #666;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}
.toggle-panel .panel-header:before {
  border-left: 10px solid transparent;
  border-top: 14px solid #666;
  border-right: 10px solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  position: absolute;
  width: 0;
  right: 40px;
  top: 50%;
  margin-top: -7px;
}
.toggle-panel .panel-header.active:before {
  border-top: 0;
  border-bottom: 14px solid #666;
}
.toggle-panel .panel-header.active + .panel-body {
  display: block;
}
.toggle-panel .panel-body {
  background-color: #FFF;
  display: none;
  min-height: 50px;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
.pagination > ul {
  display: inline-block;
  float: left;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.pagination > ul > li {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  float: left;
  line-height: 26px;
  margin-left: 6px;
  margin-right: 6px;
  text-align: center;
}
.pagination > ul > li:first-child,
.pagination > ul > li:last-child {
  color: #999;
  font-family: 'iconfont';
  font-size: 14px;
}
.pagination > ul > li.off {
  color: #F0F0F0;
}
.pagination > ul > li:first-child:before {
  content: '\e606';
}
.pagination > ul > li:last-child {
  transform: rotate(180deg);
}
.pagination > ul > li:last-child:before {
  content: '\e606';
}
.pagination > ul > li > a {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  color: #CCC;
  display: block;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.pagination > ul > li > a:hover,
.pagination > ul > li > a:focus {
  background-color: #F0F0F0;
  text-decoration: none;
}
.pagination > ul > li.active > a {
  background-color: #CCC;
  color: #FFF;
}
.pagination > input {
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  color: #333;
  float: left;
  outline: 0;
  height: 26px;
  width: 48px;
  text-align: center;
}
.pagination > input:focus {
  border: 1px solid #00BC8D;
}
.select {
  display: inline-block;
  position: relative;
  width: 150px;
}
.select .select-header {
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  color: #CCC;
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  padding-right: 24px;
  padding-left: 12px;
  position: relative;
  text-align: left;
  width: 100%;
}
.select .select-header:before {
  border-left: 7px solid transparent;
  border-top: 10px solid #999;
  border-right: 7px solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  position: absolute;
  width: 0;
  right: 14px;
  top: 50%;
  margin-top: -5px;
}
.select .select-header.active {
  border: 0;
  border-radius: 0;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.select .select-header.active:before {
  border-top: 0;
  border-bottom: 10px solid #999;
}
.select .select-header.selected {
  color: #333;
}
.select .select-header.active + .select-body {
  display: block;
}
.select .select-body {
  list-style: none;
  padding-left: 0;
  margin: 0;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  display: none;
  position: absolute;
  width: 100%;
}
.select .select-body > li {
  display: block;
}
.select .select-body > li > a:hover,
.select .select-body > li > a:focus {
  text-decoration: none;
}
.select .select-body > li {
  color: #666;
  cursor: pointer;
  font-size: 14px;
  font-weight: lighter;
  height: 44px;
  line-height: 44px;
  padding-right: 24px;
  padding-left: 12px;
  text-align: left;
}
.select .select-body > li.selected {
  color: #00BC8D;
}
.select .select-body > li:hover {
  color: #666;
  background-color: #00BC8D;
}
.select-popover {
  display: inline-block;
  position: relative;
}
.select-popover .select-header {
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding-right: 20px;
  position: relative;
  width: 100%;
}
.select-popover .select-header:before {
  content: '\e607';
  color: #CCC;
  font-family: 'iconfont';
  font-size: 14px;
  position: absolute;
  right: 0;
}
.select-popover .select-header.active:before {
  transform: rotate(180deg);
}
.select-popover .select-header.active + .select-body {
  display: block;
}
.select-popover .select-body {
  list-style: none;
  padding-left: 0;
  margin: 0;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  display: none;
  position: absolute;
  right: 0;
  width: 70%;
}
.select-popover .select-body > li {
  display: block;
}
.select-popover .select-body > li > a:hover,
.select-popover .select-body > li > a:focus {
  text-decoration: none;
}
.select-popover .select-body li {
  cursor: pointer;
  height: 36px;
  text-align: center;
}
.select-popover .select-body li > a {
  display: block;
  color: #333;
  padding-bottom: 10px;
  padding-top: 10px;
}
.select-popover .select-body li:hover {
  background-color: #F5F5F5;
}
.select-popover .select-body li:last-child {
  border-top: 1px solid #E4E4E4;
}
.select-popover .select-body li:last-child > a {
  color: #D70C18;
}
.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
}
.mask.fade {
  opacity: 0;
  transition: opacity .5s linear;
}
.mask.fade .modals-dialog {
  transform: translate(0, -25%);
  transition: transform 0.5s ease-out;
}
.mask.fade .modals-upload {
  transform: translate(0, -100%);
  transition: transform 0.5s ease-out;
}
.mask.in {
  height: auto;
  opacity: 1;
}
.mask.in .modals-dialog {
  transform: translate(0, 0);
}
.mask.in .modals-upload {
  transform: translate(0, 0);
}
.modals-dialog {
  background-color: #FFF;
  opacity: 1;
  position: relative;
  margin: 50px auto;
  min-height: 70px;
  width: auto;
}
.modals-dialog.modal-lg {
  width: 600px;
}
.modals-dialog.modal-md {
  width: 400px;
}
.modals-dialog.modal-xs {
  width: 200px;
}
.modals-dialog .modal-close {
  position: absolute;
}
.modals-dialog .modal-header {
  border: 1px solid #E4E4E4;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  height: 70px;
  line-height: 38px;
  padding: 16px;
  position: relative;
  text-align: center;
  width: 100%;
}
.modals-dialog .modal-header > h3 {
  margin: 0;
  font-size: 18px;
}
.modals-dialog .modal-header > .close {
  color: #00BC8D;
  cursor: pointer;
  font-size: 18px;
  float: right;
  margin-top: -5px;
}
.modals-dialog .modal-header > .close:hover {
  color: #333;
}
.modals-dialog .modal-body {
  border: 1px solid #E4E4E4;
  border-top: 0;
  font-size: 14px;
  padding: 30px 40px;
  width: 100%;
}
.modals-dialog .modal-body .config {
  font-size: 16px;
  margin-top: 40px;
  width: 100%;
}
.modals-upload {
  border-radius: 4px;
  background-color: #FFF;
  line-height: 22px;
  height: 50px;
  opacity: 1;
  margin: 50px auto;
  position: relative;
  padding: 14px;
  width: 233px;
}
.modals-upload .message {
  font-size: 15px;
  font-weight: bold;
  margin-left: 34px;
}
.modals-upload .upload-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 188, 141, 0.1);
}
.modals-upload .upload-mask-error {
  background-color: rgba(215, 12, 24, 0.1);
}
.modals-upload .loading-container {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -12px;
}
.modals-upload .loading-container:after {
  content: attr(data-progress);
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
.modals-upload .loading {
  width: 24px;
  height: 24px;
  border: 2px solid #00BC8D;
  border-radius: 50%;
  position: relative;
  animation: loading 1s linear infinite;
}
.modals-upload .loading:before,
.modals-upload .loading:after {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 24px;
  top: -2px;
  border: 2px solid #00BC8D;
}
.modals-upload .loading:before {
  left: -2px;
  border-radius: 12px 0 0 12px;
  border-right: none;
}
.modals-upload .loading:after {
  right: -2px;
  border-radius: 0 12px 12px 0;
  border-left: none;
  transform-origin: left center;
  transform: rotate(135deg);
}
.modals-upload .success {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.modals-upload .success > .icon-success {
  color: #00BC8D;
  font-size: 18px;
}
.modals-upload .error {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.modals-upload .error > .icon-wrong {
  color: #D70C18;
  font-size: 22px;
}
